/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}



/*
*
* Stili CSS per FAREVOTO
*
*/


/* Webfont */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(opensans400.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(opensans600.woff) format('woff');
}
@font-face {
  font-family: 'Rambla';
  font-style: normal;
  font-weight: 400;
  src: local('Rambla'), local('Rambla-Regular'), url(rambla400.woff) format('woff');
}
@font-face {
  font-family: 'Rambla';
  font-style: normal;
  font-weight: 700;
  src: local('Rambla Bold'), local('Rambla-Bold'), url(rambla700.woff) format('woff');
}



body { background-color: #f9f6f6; font-size: 1em; min-height: 100%; width: 100%; font-family: 'OpenSans', sans-serif; }
html, body, #bodycnt { height: 100%; }
body > #bodycnt { height: auto; min-height: 100%; width: 100%; }

input[type=text], input[type=password] { padding: 8px 15px; }
a { text-decoration: none; color: inherit; }
h1, h2, h3 { font-weight: bold; font-family: 'Rambla', sans-serif; font-size: 26px; color: #c8051d; margin: 0px; padding: 0px; }
h2 { font-size: 21px; }
h3 { font-size: 18px; color: #333; }

p { font-size: 1em; }
hr { clear: both; visibility: hidden; }

#header { height: 115px; background: #c8051d url('header_bg.png') repeat-x; position: relative; padding-top: 20px; width: 100%; }
#header img { float: left; }
#header h1 { color: #FFF; font-size: 48px; margin: 0px; overflow: hidden;  padding-right: 10em; }
#header h2 { color: #FFF; font-size: 21px; line-height: 22px; margin: 0px; height: 32px; display: block; padding-right: 5em; }
#user_title { min-height: 60px;font-family: 'Rambla', sans-serif;  position: absolute; bottom: 10px; right: 20px; background: #c8051d; line-height: 22px; color: #FFF; font-size: 20px; width: auto; font-weight: bold; text-align: right; }
#user_title  input { padding: 5px 10px; width: 100px; margin-top: 10px; clear: both; display: block; }
#footer { background: #f2ecec url('footer_bg.png') repeat-x; color: #6a6a6a; font-size: 13px; font-weight: bold; width: 100%; height: 100px; padding-top: 20px; position: relative; 
 clear: both; z-index: 10; margin-top: -120px;
}
#footer .small { position: absolute; font-size: 11px; bottom: 5px;  }
#enable_lofi { width: auto; float: right; text-align: center; padding: 0px; }
#enable_lofi input { padding: 8px 18px; }
#form_logout { padding-top: 20px; }

div.wrapper { max-width: 930px; margin: 0px auto; padding: 0px 25px; position: relative; }
div.wrapper.main { min-height: 300px; padding: 35px 25px 150px 25px;  }
div.wrapper.main h1 { padding-bottom: 30px; }
div.wrapper.main hgroup h1 { padding-bottom: 5px; }
.spaced { margin-bottom: 25px; }

div.message { 
	background-color: #DDD; width: 65%; margin: 30px auto; border-radius: 10px; border: 1px solid #DDD; font-family: 'Rambla', sans-serif; 
	text-align: center; padding: 25px 20px; font-size: 1.15em; clear: both; display: block !important; 
}
div.message.error {	
	background-color: #cc0000;
	border-color: #a90329;
	color: #FFF;
	font-size: 1.2em;
	text-shadow: 1px 1px 0px #990315;
	font-weight: bold;

}
input.submit, a.btn  { 
	border: 1px solid #990315; font-weight: bold; padding: 10px 35px; 
	font-size: 20px; font-family: 'Rambla', sans-serif; 
	margin: 15px auto; clear: both; display: block; 
	border-radius: 10px; 
	-moz-box-shadow: inset 0px 1px 0px 0px #990315;
	-webkit-box-shadow: inset 0px 1px 0px 0px #990315;
	box-shadow: inset 0px 1px 0px 0px #990315;
	background-color: #c8051d;	
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c8051d), color-stop(1, #E2001A) );
	background: -moz-linear-gradient( center top, #c8051d 5%, #E2001A 100% );
	display: inline-block;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 1px 1px 0px #990315;
 }
 input.submit:hover, a.btn:hover {
  	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e0041e), color-stop(1, #fa001d) );
	background: -moz-linear-gradient( center top, #e0041e 5%, #fa001d 100% );
	background-color: #fa001d;
	border-color: #b30418;
 }
 input.submit:active, a.btn:active {
	background-color: #990315 !important;
 	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #990315), color-stop(1, #b00015) ) !important;
	background: -moz-linear-gradient( center top, #990315 5%, #b00015 100% ) !important;	
	border-color: #66020e !important;
 } 
 
 
 input.grey, a.btn.grey {
	color: #333; 
	text-shadow : 0 1px 1px rgba(0,0,0,.4);
	border: 1px solid #333;
	box-shadow: inset 0px 1px 0px 0px #333;
	background: rgb(238,238,238);
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1)));
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
 }
 input.grey:hover, a.btn.grey:hover {
	border-color: #111;
	background: #f5f5f5;
	background: -moz-linear-gradient(top,  #f5f5f5 0%, #e3e3e3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%, #e3e3e3));
	background: -webkit-linear-gradient(top,  #f5f5f5 0%, #e3e3e3 100%);
	background: -o-linear-gradient(top,  #f5f5f5 0%, #e3e3e3 100%);
	background: -ms-linear-gradient(top,  #f5f5f5 0%, #e3e3e3 100%);
	background: linear-gradient(to bottom,  #f5f5f5 0%, #e3e3e3 100%);	
 }
 input.grey:active, a.btn.grey:active {
	border-color: #111;
	background: #d9d9d9 !important;
	background: -moz-linear-gradient(top,  #d9d9d9 0%, rgba(204,204,204,1) 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9d9d9), color-stop(100%, #aaa)) !important;
	background: -webkit-linear-gradient(top,  #d9d9d9 0%,#aaa 100%) !important;
	background: -o-linear-gradient(top,  #d9d9d9 0%,#aaa 100%) !important;
	background: -ms-linear-gradient(top,  #d9d9d9 0%,#aaa 100%) !important;
	background: linear-gradient(to bottom,  #d9d9d9 0%,#aaa 100%) !important;
 }
 
/* Pagina login */
#auth_form { background-color: #F2F2F2; width: 70%; margin: 15px auto 0px auto; border-radius: 10px; border: 1px solid #DDD; text-align: center; padding: 20px; font-size: 1.15em; }
#auth_form label { display: block; margin-bottom: 20px; }

/* Indice delle votazioni */
#select_ballot { width: 75%; margin: 0px auto; }
#select_ballot li { margin-bottom: 1.5em; font-family: 'Rambla', sans-serif; }
#select_ballot span { font-size: 1em; font-weight: normal; }
#select_ballot em { font-size: 0.8em; font-weight: normal; font-style: normal; }
#select_ballot b { font-size: 1.1em; font-weight: bold; }
#select_ballot { font-size: 1.5em; font-weight: normal; }
#select_ballot a { 
	display: block; padding: 15px 20px; font-weight: bold; line-height: 1em; opacity: 1.0; 
	box-shadow: 5px 5px 5px #888; border-radius: 8px; 
	color: #FFF;  text-shadow : 0 1px 3px rgba(0,0,0,.4);
	background-color: #8fc800;
	background: #8fc800;
	background: -moz-linear-gradient(top, #8fc800 0%, #438c00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fc800), color-stop(100%,#438c00));
	background: -webkit-linear-gradient(top, #8fc800 0%,#438c00 100%);
	background: -o-linear-gradient(top, #8fc800 0%,#438c00 100%);
	background: -ms-linear-gradient(top, #8fc800 0%,#438c00 100%);
	background: linear-gradient(top, #8fc800 0%,#438c00 100%);
	/*
	color: #333;
	background: -moz-linear-gradient(0% 100% 90deg, #04BF36, #07F25D) repeat #0378d1;
	border-color: #8ADF37; background-color: #4ACF00;
	background-image: -o-linear-gradient(-90deg,rgba(255,255,255,0.38),rgba(85,170,0,0.7));
	background-image: -moz-linear-gradient(-90deg,rgba(255,255,255,0.38),rgba(85,170,0,0.7));
	background-image: -webkit-gradient(linear,50% 0%,50% 100%,from(rgba(255,255,255,0.38)),to(rgba(85,170,0,0.7)));
	background-image: -webkit-linear-gradient(-90deg,rgba(255,255,255,0.38),rgba(85,170,0,0.7));	
	*/

}
#select_ballot a:hover  { 
	transition:color 1s ease-in; 
	background-color: rgb(41,154,11);
	background: rgb(41,154,11);
	background: -moz-linear-gradient(top,  rgba(41,154,11,1) 0%, rgba(41,154,11,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,154,11,1)), color-stop(100%,rgba(41,154,11,1)));
	background: -webkit-linear-gradient(top,  rgba(41,154,11,1) 0%,rgba(41,154,11,1) 100%);
	background: -o-linear-gradient(top,  rgba(41,154,11,1) 0%,rgba(41,154,11,1) 100%);
	background: -ms-linear-gradient(top,  rgba(41,154,11,1) 0%,rgba(41,154,11,1) 100%);
	background: linear-gradient(to bottom,  rgba(41,154,11,1) 0%,rgba(41,154,11,1) 100%);

}

#select_ballot .inactive a {     
	color: #FFF; border-color: #8e1500; background-color: #c00; opacity: 0.8;
    background: -moz-linear-gradient(100% 100% 90deg,#b62106,#720e00);
    background: -webkit-gradient(linear,left top,left bottom,from(#720e00),to(#b62106));
}

#select_ballot .has_voted a {
	color: #FFF;
	background: -moz-linear-gradient(0% 100% 90deg, #0436BF, #075DF2) repeat #03d178;
	border-color: #518DF5;
	background-color: #227ADB;
	background-image: -o-linear-gradient(-90deg,rgba(112,179,228,1),rgba(66,154,219,0));
	background-image: -moz-linear-gradient(-90deg,rgba(112,179,228,1),rgba(66,154,219,0));
	background-image: -webkit-gradient(linear,50% 0%,50% 100%,from(rgba(112,179,228,1)),to(rgba(66,154,219,0)));
	background-image: -webkit-linear-gradient(-90deg,rgba(112,179,228,1),rgba(66,154,219,0));
	
}

/* Pagina di voto */

div#candidates { position: relative; zoom: 1; min-height: 400px; }
div#candidates h3 { float: left; width: 49%; font-size: 20px; }

div#candidates li, li.candidate { font-family: 'Rambla', sans-serif; padding: 10px; font-weight: bold; color: #333; 
	border: 2px solid #DDD; box-shadow: 5px 5px 5px #888; 
	margin-bottom: 15px; border-radius: 8px; 
	cursor: pointer; cursor: move;  zoom: 1;
}
li.candidate { list-style-type: none;  zoom: 1; } 

div#candidates li em { display: block; font-weight: normal; }
#arrow { width: 5%; text-align: center; padding-top: 150px; font: 32px; font-weight: bold; display: inline-block; vertical-align: top; overflow: hidden; float: left; }

#candidates ol { min-height: 300px; display: inline-block; vertical-align: top; padding: 0px; margin: 0px; }
ol#candidates_list { width: 45%; list-style-type: none; list-style-type: none; float: left; }
ol#candidates_list li, li.candidate {
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%);
}

ol#voted_list { width: 45%; padding-left: 1%; list-style-position:inside; float: left; }
ol#voted_list li { padding-left: 25px; list-style-type:decimal;
	color: #FFF; text-shadow : 0 1px 3px rgba(0,0,0,.4);
	background: #8fc800;
	background: -moz-linear-gradient(top, #8fc800 0%, #438c00 100%);
	background: -webkit-gradient(linear, left top, left bottom, 
	color-stop(0%,#8fc800), color-stop(100%,#438c00));
	background: -webkit-linear-gradient(top, #8fc800 0%,#438c00 100%);
	background: -o-linear-gradient(top, #8fc800 0%,#438c00 100%);
	background: -ms-linear-gradient(top, #8fc800 0%,#438c00 100%);
	background: linear-gradient(top, #8fc800 0%,#438c00 100%);
	transition:color 1s ease-in;
}

/* LoFI */
#cast_ballot, #blank_ballot { margin: 0px auto; }
.lofi { margin:0px !important; text-align: left !important; }
#cast_ballot li { margin-bottom: 15px; }
select.ballot_candidate { width: 250px; padding: 2px; }


/* Conferma di voto */
ol#confirm_ballot { list-style-position:inside; width: 50%; margin: 15px auto; }
ol#confirm_ballot li {
	font-family: 'Rambla', sans-serif; padding: 10px; font-weight: bold; color: #333; 
	border: 2px solid #DDD; box-shadow: 5px 5px 5px #888; 
	margin-bottom: 10px; border-radius: 4px; 
	cursor: pointer; zoom: 1;	
	padding-left: 25px; list-style-type:decimal;
	color: #FFF; text-shadow : 0 1px 3px rgba(0,0,0,.4);
	background: #8fc800;
	background: -moz-linear-gradient(top, #8fc800 0%, #438c00 100%);
	background: -webkit-gradient(linear, left top, left bottom, 
	color-stop(0%,#8fc800), color-stop(100%,#438c00));
	background: -webkit-linear-gradient(top, #8fc800 0%,#438c00 100%);
	background: -o-linear-gradient(top, #8fc800 0%,#438c00 100%);
	background: -ms-linear-gradient(top, #8fc800 0%,#438c00 100%);
	background: linear-gradient(top, #8fc800 0%,#438c00 100%);
	transition:color 1s ease-in;
	
}
ol#confirm_ballot li em { display: block; font-weight: normal; }

#form_confirm_ballot { }
#form_confirm_blank_ballot { background-color: #F2F2F2; width: 60%; margin: 0px auto; border-radius: 10px; border: 1px solid #DDD; text-align: center; padding: 20px; font-size: 1.15em; }

/* Pagina di voto */

.submit { }

/* Tabelle dei voti */
table { border: 2px solid #DDD; border-radius: 5px; }
table td { padding: 5px; font-weight: normal; font-size: 0.9em; }
table td a { font-size: 1.1em; }
table tr:hover { background-color: #DDD; }
th { background-color: #DDD; padding: 2px 5px; }
tr.odd { background-color: #FFF; }
tr.even { background-color: transparent; }
